p {
    margin: 0;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    padding: 2rem 0;
    color: black;
  }
  
  .wrapper > div:first-child {
    text-align: right;
    margin-right: 1rem;
  }
  
  .wrapper > div:last-child {
    margin-left: 35rem;
  }
  
  .title {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    margin-right: auto;
  }
  
  .socials {
    display: flex;
    align-items: center;
  }
  
  .instagram,
  .twitter {
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    margin-left: 1rem;
    transition: transform 0.3 ease;
  }
  
  .instagram:hover,
  .twitter:hover {
    transform: scale(1.1);
  }
  
  .instagram {
    background-image: url("../images/instagram.svg");
  }
  
  .twitter {
    background-image: url("../images/twitter.svg");
  }