.header {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 120px;
}



.header-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
  max-width: 500px;
  margin-right: 30px;
}

.header-picture {
  border-radius: 20%;
  width: 25vw;
  height: 25vw;
}

.title {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: -0.2rem;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.section {
  position: relative;
  margin-top: 180px;
  text-align: center;
}

.headerTitle{
  text-align: center;
}

.burgers {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  flex-wrap: wrap;
}

.burgers h3{
  text-align: center;
}

.featuredBurgersStyle h2 {
  margin-top: 175px;
  border-top: black solid 5px;
  padding-top: 30px;
  text-align: center;
}

.featuredBurgersStyle p {
  width: 250px;
  margin: auto;
  text-align: inherit;
}

.banner {
  width: 120vw;
  height: 500px;
  transform: translateX(calc((-120vw + 1080px) / 2));
}

.description {
  max-width: 600px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .banner {
    transform: translateX(-5%);
  }
}


.burger-name {
  font-size: 2rem;
  text-transform: uppercase;
  color: #3756ba;
  margin: 0;
}

.burger-sizes {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 0.5rem 0 1rem 0;
}

.full-name {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 1rem 0 1.5rem 0;
}

.burger-description {
  margin-bottom: 2rem;
}

.descriptionIngrdients {
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionIngrdientsInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 1000;
  text-transform: uppercase;
  color: #3756ba;
}

.burger-info {
  font-weight: 500;
  color: #3756ba;
}

.burger-pictures {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}



.burger-pictures::before,
.burger-pictures::after {
  position: absolute;
  display: inline-flex;
  content: "";

  z-index: -1; 
   transform-origin: 50%;
  transform: rotate(90);
}

.burger-picture {
  border-radius: 5%;
  max-width: 350px;
  max-height: 300px;
}

.burger-picture:hover{
  transform: scale(1.2);
  transition: transform 1.5 ease;
  z-index: 1;
}

.link {
  color: #3756ba;
}

.allPictures{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

.socials {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.instagram,
.twitter {
  background-size: 30px 30px;
  height: 30px;
  width: 30px;
  margin-left: 1rem;
  transition: transform 0.3 ease;
}

.instagram:hover,
.twitter:hover {
  transform: scale(1.1);
}

.instagram {
  background-image: url("./images/instagram.svg");
}

.twitter {
  background-image: url("./images/twitter.svg");
}